.res_menu{
    opacity: 1;
    visibility: visible;
}

.rainbow-gradient-circle {
    position: absolute;
    left: -400px;
    top: 20px;
    right: auto;
    bottom: auto;
    z-index: -1;
    width: 500px;
    height: 500px;
    border-radius: 1000px;
    background-image: linear-gradient(45deg, #a546ca, #a546ca);
    opacity: 0.3;
    -webkit-filter: blur(100px);
    filter: blur(150px);
}


#banner .plane.animate{
    animation: myPlane 10s linear infinite;
    animation-play-state: running;
}

#banner .plane.paused {
    animation-play-state: paused;
}

@keyframes myPlane{
    0%{
        right: -112px;
    }
    50%{
        right: -650px;
        top: -200px;
        transform: scaleX(1);
    }
    55%{
        transform: scaleX(-1);
    }
    95%{
        transform: scaleX(-1);
    }
    100%{
        transform: scaleX(1);
        z-index: 99999;
    }
}


footer .menu ul li a{
    position: relative;
    transition: all linear 0.4s;
}
footer .menu ul li a::before{
    content: "";
    width: 0;
    height: 2px;
    background: blue;
    position: absolute;
    bottom: -1px;
    right: 0;
    transition: all linear 0.4s;

}

footer .menu ul li a:hover::before{
    width: 100%;
    left: 0;
}

@media (min-width: 500px) and (max-width: 767.98px) {
    .img_field img{
        max-width: 550px;
        height: auto;
    }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
    .img_field img{
        max-width: 700px;
        height: auto;
    }
    .text-travel{
        width: 500px;
    }
}
@media (min-width: 412px) and (max-width: 639.98px) {
    #banner{
        padding-bottom: 112px;
    }
    .findDemo{
        margin-top: 80px;
    }
}